body{
    margin:0;
    background-image: url("Images/background.avif");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.task-area{
    border: 1px solid lightgray;
}

.task-tabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-tabs div{
    padding:1em;
    position: relative;
    border: 1px solid lightgray;
}

#under-line{
    height: 4px;
    background-color: plum;
    position: absolute;
    width: 60px;
    left: 0px;
    top: 52px;
    padding: 0px;
    transition: 0.5s

}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-done{
    text-decoration: line-through;
    background-color: lightgray;
    transition: 0.5s;
}

.check{
    color: rgb(2, 215, 2)
}

.trash-can{
    color: red
}

.rotate-left{
    color: gray
}

.check-button{
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: white;
    transition: 0.5s;
}

.trash-can-button{
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: white;
    transition: 0.5s;
}

.rotate-left-button{
    height: 100%;
    border: none;
    width: 5em;
    margin: 0;
    background-color: white;
    transition: 0.5s;
}

.task-tabs div{
    cursor:pointer;
}

h1{
    font-family: 'Times New Roman', Times, serif;
}

#all{
    font-family:'Times New Roman', Times, serif;
}

#ongoing{
    font-family: 'Times New Roman', Times, serif;
}

#done{
    font-family: 'Times New Roman', Times, serif;
}

#add-button{
    background-color: white;
    color: lightgray;
    border-color: white;
}

input{
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

.task-ongoing{
    font-family: 'Times New Roman', Times, serif;
}

.task-done{
    font-family: 'Times New Roman', Times, serif;
}